*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
   

}
html{
    scroll-behavior: smooth scroll;
}



.headings{
    height:30px;
    width:100vw;

    background-color:#474F7A;
    display:flex;
    align-items: center;
    justify-content:center;
     /* top:0px;
      position: fixed; */
}

.headings1{
    display: flex;
    color:white;
    margin-right:40px;
    align-items: center;
}
.headings i{
    margin-right:5px;
}
.headings2{
    display: flex;
    color:white;
    align-items: center;
}
.nav{

    height:90px;
    width:100vw;
    background-color: #1F2544;
    align-items: center;
    display: flex;
    justify-content:space-between;
    /* position:sticky;
    top:0px; */

}
.nav1{
    padding-left:50px;
    display: flex;
    align-self: center;
    justify-items: center
}
.nav1a{
    display: flex;
    flex-direction: column;
    

}
.nav1a p1{
    margin-left:4px;
    color:white;
    font-size: 30px;
    justify-items: center;
    align-items: center;
    padding-top:10px;
}
.nav1a p{
color:white;
font-size: 15px;
margin-left: 75px;



}
.nav1 img{
  height: 75px;
  width:75px;
}

.nav2{
    display: flex;
}
.nav2 a{
    text-decoration: none;
    color:white;
    margin-left:60px;
    margin-right:15px;
    font-size: 17px;
   
}
.nav2 a:hover{
    color:#81689D;
}
#Home{
   height:100vh;
   width:100vw;
   background-image: url(./46014619-6a5b-487f-a9a8-6be884ba90d9.png);
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
 
}
#About{
    height:100vh;
    width:100vw;
    background-color: #efecf4;
    
}
#About .box{
    height:100px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#efecf4;
    
}
#About .box1 a,.box2 a,.box3 a,.box4 a{
    text-decoration: none;
    color:#1F2544;
    font-size: 20px;
    font-weight:600 ;

}
#About .box1 i,.box2 i,.box3 i,.box4 i{
    margin-right:6px;
    font-size: 30px;
}
#About .photo{
    height:475px;
    width:800px;

}
#About .photo img{
    height:475px;
    width:800px;
    border-radius: 3px;
}
.mix{
    height:100vh;
    width: 100vw;
    display: flex;
}
#About .speech{
    border-radius: 5px solid black;
}
#Courses{
    height:100vh;
    width:100vw;

}
#Courses .div0{
    height:100px;
    width:100%;
    background-color:#ffffff;

   
}
#Courses .div0 .para1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:15px;
}
#Courses .div0 .para1 p{
   
    text-decoration: none;
    color:#1F2544;
    font-size: 20px;
    font-weight:600 ;

}
#Courses .div0 .para2{
    display: flex;
    justify-content: center;
    align-content: center;
}
#Courses .div0 .para2 p{
    color:#1F2544;
    font-size: 17px;
    font-weight: 400;


}



#Courses .div00{
    display: flex;
    gap:20px;
    justify-content:space-evenly;
}
#Courses .BCA
{
         display: flex;
    width:300px;
    height: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;

    border: 1px solid var( #e6e7e8);
    background: rgb(235, 225, 225);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0
}
#Courses .div00 .serial-no{
    color: transparent;
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 84px;
    -webkit-text-stroke: 3px black;
    text-shadow: rgba(51, 96, 149, 0.24) 0px 11px 1px;
}
#Courses .div00 .BBS .serial-no{
    color: transparent;
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 84px;
    -webkit-text-stroke: 3px black;
    text-shadow: rgba(51, 96, 149, 0.24) 0px 11px 1px;
}

#Courses .BBS{
    display: flex;
    width:300px;
    height: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
 
    border: 1px solid var( #e6e7e8);
    background-color:#1F2544;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}

#Courses .Bed{
    display: flex;
    width: 300px;
    height: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;

    border: 1px solid var( #e6e7e8);
    background: rgb(235, 225, 225);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}

#Courses .div00 .title{
    font-size: 20px;
    font-weight: 600;
    color:black
}
#Courses .div00 .BBS .description{
    color:white;
    font-size: 15px;
}
#Courses .div00 .description{
    font-size: 15px;
}
#Courses .div00 .BBS .title{
    color:white;

}
#Courses .div00 .BBS .serial-no{
 color:white;
 
}
.knowmore{
    height:150px;
    width:100%;
    background-color:#ffff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.knowmore a{
    color:#1F2544;
    font-size: 20px;
    font-weight: 600;
}
.knowmore i{
    color:#1F2544;
    margin-left:4px;
    size:15px;
}
#Gallery{
    height:100vh;
    width:100vw;
    background-color:#bca8d3;
}