*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
   

}


.headings{
    height:30px;
    width:100%;
    background-color:#474F7A;
}
.nav{
    height:60px;
    width:100%;
    background-color: #1F2544;
}
.headings{
    display:flex;
    align-items: center;
    justify-content:left;
    
}
.headings1{
    display: flex;
    color:white;
    margin-right:40px;
    justify-self: center;
}
.headings2{
    display: flex;
    color:white;
    justify-self: center;
}