*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
   

}


.headings{
    height:30px;
    width:100%;
    background-color:#474F7A;
}
.headings{
    display:flex;
    align-items: center;
    justify-content:center;
    
}
.headings1{
    display: flex;
    color:white;
    margin-right:40px;
    align-items: center;
}
.headings i{
    margin-right:5px;
}
.headings2{
    display: flex;
    color:white;
    align-items: center;
}
.nav{
    height:90px;
    width:100%;
    background-color: #1F2544;
    align-items: center;
    display: flex;
    justify-content:space-between;
}
.nav1{
    padding-left:50px;
    display: flex;
    align-self: center;
    justify-items: center
}
.nav1a{
    display: flex;
    flex-direction: column;
    

}
.nav1a p1{
    margin-left:4px;
    color:white;
    font-size: 30px;
    justify-items: center;
    align-items: center;
    padding-top:10px;
}
.nav1a p{
color:white;
font-size: 15px;
margin-left: 75px;



}
.nav1 img{
  height: 75px;
  width:75px;
}

.nav2{
    display: flex;
}
.nav2 a{
    text-decoration: none;
    color:white;
    margin-left:60px;
    margin-right:15px;
    font-size: 17px;
   
}

/* a:hover{
    color:black;
    text-decoration: line-through;
    text-decoration-line: underline;
    text-decoration-color: white;

} */
.dropdown-content{
    display: none;
    z-index:1;
}
a .one:hover .dropdown-content{
    display: block;
}
.main{
    height:100%;
    width:100%;
    background-image:url(./kalika\ ediited.jpg);
    background-position: cover;
    background-repeat: no-repeat;

}

